/* CSS Document reset*/
/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */ dl, dt, dd, ul, ol, li, /* list elements 列表元素 */ pre, /* text formatting elements 文本格式元素 */ form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */ th, td, /* table elements 表格元素 */ img/* img elements 图片元素 */ { border:medium none; margin: 0; padding: 0; }
/** 设置默认字体 **/
body, button, input, select, textarea { font: 12px/1.5 "宋体", Arial, sans-serif, Srial, helvetica, sans-serif; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-family: "宋体", Arial, Helvetica, sans-serif; font-weight:normal; }
em { font-style:normal; }
/** 重置列表元素 **/
ul, ol { list-style: none; }
/** 重置超链接元素 **/
a { text-decoration: none; color:#333; }
a:hover { text-decoration: none; color:#F40; }
/** 重置图片元素 **/
img { border:0px; }
/** 重置表格元素 **/
table { border-collapse: collapse; border-spacing: 0; }
/** 重置边框 **/
boder { border:0 none; }

/* CSS Document */
body { margin:0; padding:0; background:#fff; color:#000; font-size:12px; font-family:"宋体", Arial, Helvetica, sans-serif; }
.fl { float:left; }
.clear { clear:both; font-size:0; line-height:0; }
.clear:after, .inner:after { content: "."; display: block; height: 0pt; clear: both; visibility: hidden; }
.fr { float:right; }
.w950 { width:950px; }
#container { margin:0 auto; position:relative; }
/*----------------------Start of header----------------------*/
#header { width:950px; margin:0 auto; background:url(../images/top_bg.jpg) 0 0 no-repeat; height:94px; }
/*----------------------Start of logo----------------------*/
#header img.logo { display:block; font-size:0; line-height:0; border:none; padding:31px 0 0 42px; }
/*scrollNav Css*/
.nav{ width:948px; height:35px; margin: 0 auto; position:relative; z-index:2; background:#F7B220; border:2px solid #D9A41C;box-shadow: 4px 4px 4px rgba(158, 112, 15, 0.4); }
.nav ul.ulBox{ display:block; width:100%; height:35px; position:relative; z-index:2;}
.nav ul.ulBox li{ display:block; width:100px;  height:35px; float:left; position:relative;}
.nav ul.ulBox li a{ display:block; width:100%; text-decoration:none; height:35px; line-height:35px; text-align:center; color:black; font-size:14px;}
.nav ul.ulBox li ul{ display: block; overflow:hidden; width:100%; height:0px; background:#FAEB7A; position:absolute; top:35px; left:0px;}
.nav ul.ulBox li ul li{ height:30px; width:100%;}
.nav ul.ulBox li ul li a{ height:30px; line-height:30px;}
.nav ul.ulBox li ul li a:hover{ background:#F7B220; height:30px; line-height:30px; color:#131212;}
.nav .scrollObj{ width:100px; height:35px; position:absolute; z-index:1; left:0px; top:0px; background:#FAEB7A;}

/*----------------------Start of content----------------------*/
#content { width:950px; background:#fff; margin:0 auto; padding:0px 0 0 0; }
/*----------------------Start of column background----------------------*/
.col_bg {width:950px; background:url(../images/productlist_bg.jpg) repeat; height:auto; display:table!important; padding:5px 0 40px 0; }
/*----------------------Start of footer----------------------*/
#footer { width:950px; height:35px; margin:0 auto; clear:both; text-align:center; color:#000; background:url(../images/footer.jpg) 0 0 no-repeat; letter-spacing:1px; }
#footer p { padding:10px 0 0 0; }
#footer a { color:#000; text-decoration:none; }
#footer a:hover { color:#000; text-decoration:underline; }
